<div class="row">
  <h1>
    <%= image_tag current_user.avatar.url(:thumb), class:"round-image-50" %>
    <%= current_user.username %>
  </h1>
</div>
<%= link_to "Add an Image", new_user_image_path(current_user) %>

<div class="container-fluid">
  <% if current_user.images.any? %>
  <ul style="list-style:none">
    <% current_user.images.each do |image| %>
      <li><%= link_to image_tag(image.upload.url(:display)), user_image_path(current_user.id, image.id) %></li>
    <% end %>
  </ul>
  <% end %>
</div>
