@import "bootstrap-sprockets";
@import "bootstrap";



.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.home {
  background-image: url("blue-ridge-mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  .container-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0px 0px 25px 0px;
  }
  h3 {
    color: white;
  }
}
